body {
  min-height: 3000px;
}
.jumbotron {
  padding-top: 6rem;
  background-color: F3F4F5;
}

section {
  padding-top: 5rem;
}
#gallery {
  background-color: #0099ff;
}

section {
  padding-top: 5rem;
}
